In [1]:
import sys
!{sys.executable} -m pip install geocoder
!{sys.executable} -m pip install folium
!{sys.executable} -m pip install BeautifulSoup4
from bs4 import BeautifulSoup
import requests
import geocoder
import pandas as pd
import numpy as np

Requirement already satisfied: geocoder in d:\anaconda\lib\site-packages (1.38.1)
Requirement already satisfied: ratelim in d:\anaconda\lib\site-packages (from geocoder) (0.1.6)
Requirement already satisfied: requests in d:\anaconda\lib\site-packages (from geocoder) (2.24.0)
Requirement already satisfied: six in d:\anaconda\lib\site-packages (from geocoder) (1.15.0)
Requirement already satisfied: future in d:\anaconda\lib\site-packages (from geocoder) (0.18.2)
Requirement already satisfied: click in d:\anaconda\lib\site-packages (from geocoder) (7.1.2)
Requirement already satisfied: decorator in d:\anaconda\lib\site-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: chardet<4,>=3.0.2 in d:\anaconda\lib\site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests->geocoder) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in d:\anaconda\lib\site-packages (from requests->geocoder) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in d:\anaconda\lib\site-packages (from requests->geocoder) (1.25.9)
Requirement already satisfied: folium in d:\anaconda\lib\site-packages (0.11.0)
Requirement already satisfied: requests in d:\anaconda\lib\site-packages (from folium) (2.24.0)
Requirement already satisfied: branca>=0.3.0 in d:\anaconda\lib\site-packages (from folium) (0.4.1)
Requirement already satisfied: numpy in d:\anaconda\lib\site-packages (from folium) (1.18.5)
Requirement already satisfied: jinja2>=2.9 in d:\anaconda\lib\site-packages (from folium) (2.11.2)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests->folium) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in d:\anaconda\lib\site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in d:\anaconda\lib\site-packages (from requests->folium) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in d:\anaconda\lib\site-packages (from requests->folium) (1.25.9)
Requirement already satisfied: MarkupSafe>=0.23 in d:\anaconda\lib\site-packages (from jinja2>=2.9->folium) (1.1.1)
Requirement already satisfied: BeautifulSoup4 in d:\anaconda\lib\site-packages (4.9.1)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from BeautifulSoup4) (2.0.1)

Scrape the List of postal codes of Canada from URL

In [2]:
ca_url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
ca_source = requests.get(ca_url).text
ca_soup = BeautifulSoup(ca_source, 'xml')
ca_table=ca_soup.find('table')
ca_column_names = ['Postalcode','Borough','Neighborhood']
ca_df = pd.DataFrame(columns = ca_column_names)

Search all the postcode, borough, neighborhood

In [4]:
for tr_cell in ca_table.find_all('tr'):
    row_data=[]
    for td_cell in tr_cell.find_all('td'):
        row_data.append(td_cell.text.strip())
    if len(row_data)==3:
        ca_df.loc[len(ca_df)] = row_data

In [5]:
ca_df.head()

  Postalcode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [6]:
ca_df=ca_df[ca_df['Borough']!='Not assigned']

In [7]:
ca_df.head()

  Postalcode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [8]:
ca_df.Neighborhood.replace('Not assigned',ca_df.Borough,inplace=True)
ca_df.head()

  Postalcode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [9]:
ca_df = ca_df.groupby(['Postalcode', 'Borough'])['Neighborhood'].apply(lambda x: ', '.join(x))
ca_df = ca_df.reset_index()
ca_df.rename(columns = {'Postalcode':'PostalCode'}, inplace = True)
ca_df.rename(columns = {'Neighborhood':'Neighborhood'}, inplace = True)
ca_df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [10]:
ca_df.shape

(103, 3)

In [11]:
ca_geo_url = 'http://cocl.us/Geospatial_data'
ca_df_geo=pd.read_csv(ca_geo_url)
ca_df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [12]:
ca_df_geo.shape

(103, 3)

In [13]:
ca_df_geo.rename(columns={'Postal Code':'PostalCode'},inplace=True)
ca_geo_merged = pd.merge(ca_df_geo, ca_df, on='PostalCode')
ca_geo_data=ca_geo_merged[['PostalCode','Borough','Neighborhood','Latitude','Longitude']]
ca_geo_data.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

Read csv file with clustered neighborhoods with geodata of Manhattan

In [15]:
manhattan_data  = pd.read_csv('mh_neigh_data.csv') 
manhattan_data.head()

     Borough        Neighborhood   Latitude  Longitude  Cluster Labels
0  Manhattan         Marble Hill  40.876551 -73.910660               2
1  Manhattan           Chinatown  40.715618 -73.994279               2
2  Manhattan  Washington Heights  40.851903 -73.936900               4
3  Manhattan              Inwood  40.867684 -73.921210               3
4  Manhattan    Hamilton Heights  40.823604 -73.949688               0

In [16]:
manhattan_data.tail()

      Borough     Neighborhood   Latitude  Longitude  Cluster Labels
35  Manhattan       Turtle Bay  40.752042 -73.967708               3
36  Manhattan       Tudor City  40.746917 -73.971219               3
37  Manhattan  Stuyvesant Town  40.731000 -73.974052               4
38  Manhattan         Flatiron  40.739673 -73.990947               3
39  Manhattan     Hudson Yards  40.756658 -74.000111               2

In [17]:
manhattan_merged = pd.read_csv('manhattan_merged.csv')
manhattan_merged.head()

,Borough,Neighborhood,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Manhattan,Marble Hill,40.876551,-73.910660,2,Coffee Shop,Discount Store,Yoga Studio,Steakhouse,Supplement Shop,Tennis Stadium,Shoe Store,Gym,Bank,Seafood Restaurant
1,Manhattan,Chinatown,40.715618,-73.994279,2,Chinese Restaurant,Cocktail Bar,Dim Sum Restaurant,American Restaurant,Vietnamese Restaurant,Salon / Barbershop,Noodle House,Bakery,Bubble Tea Shop,Ice Cream Shop
2,Manhattan,Washington Heights,40.851903,-73.936900,4,Café,Bakery,Mobile Phone Shop,Pizza Place,Sandwich Place,Park,Gym,Latin American Restaurant,Tapas Restaurant,Mexican Restaurant
3,Manhattan,Inwood,40.867684,-73.921210,3,Mexican Restaurant,Lounge,Pizza Place,Café,Wine Bar,Bakery,American Restaurant,Park,Frozen Yogurt Shop,Spanish Restaurant
4,Manhattan,Hamilton Heights,40.823604,-73.949688,0,Mexican Restaurant,Coffee Shop,Café,Deli / Bodega,Pizza Place,Liquor Store,Indian Restaurant,Sushi Restaurant,Sandwich Place,Yoga Studio

Use the foursquere API to segment and cluster the neighborhoods of Toronto

In [19]:
!conda install -c conda-forge geocoder --yes
!conda install -c conda-forge geopy --yes 
!pip install lxml

import geocoder
from geopy.geocoders import Nominatim

address = 'Toronto, Ontario'

geolocator = Nominatim(user_agent="toronto_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: D:\Anaconda

  added / updated specs:
    - geocoder


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.8.4                |   py38h32f6830_2         3.1 MB  conda-forge
    ------------------------------------------------------------
                                           Total:         3.1 MB

The following packages will be UPDATED:

  conda                                4.8.4-py38h32f6830_1 --> 4.8.4-py38h32f6830_2



Downloading and Extracting Packages

conda-4.8.4          | 3.1 MB    |            |   0%
conda-4.8.4          | 3.1 MB    |            |   1%
conda-4.8.4          | 3.1 MB    | ##6        |  26%
conda-4.8.4          | 3.1 MB    | #######2   |  72%
conda-4.8.4          | 3.1 MB    | ########## | 100%
conda-4.8.4          | 3.1 MB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Requirement already satisfied: lxml in d:\anaconda\lib\site-packages (4.5.2)

In [22]:
ca_toronto_data=ca_geo_data[ca_geo_data['Borough'].str.contains("Toronto")]
ca_toronto_data.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
37,M4E,East Toronto,The Beaches,43.676357,-79.293031
41,M4K,East Toronto,"The Danforth West, Riverdale",43.679557,-79.352188
42,M4L,East Toronto,"India Bazaar, The Beaches West",43.668999,-79.315572
43,M4M,East Toronto,Studio District,43.659526,-79.340923
44,M4N,Central Toronto,Lawrence Park,43.728020,-79.388790

In [23]:
CLIENT_ID = '5MB5ZXH5X4I5PZPGOBWEEUONYGMAGGBCLA2HQZ2VDJU4KTSC'
CLIENT_SECRET = 'E4ZLRNLDHO4PNIPL3U4YUR1TI0A3MFIYRWRTUAZWCV0TQVTY'
VERSION = '20200823'

Get the top 100 venues that are in Toronto within a radius of 500 meters

In [24]:
def getNearbyVenues(names, latitudes, longitudes):
    radius=500
    LIMIT=100
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [25]:
ca_toronto_venues = getNearbyVenues(names=ca_toronto_data['Neighborhood'],
                                   latitudes=ca_toronto_data['Latitude'],
                                   longitudes=ca_toronto_data['Longitude']
                                  )

The Beaches
The Danforth West, Riverdale
India Bazaar, The Beaches West
Studio District
Lawrence Park
Davisville North
North Toronto West,  Lawrence Park
Davisville
Moore Park, Summerhill East
Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park
Rosedale
St. James Town, Cabbagetown
Church and Wellesley
Regent Park, Harbourfront
Garden District, Ryerson
St. James Town
Berczy Park
Central Bay Street
Richmond, Adelaide, King
Harbourfront East, Union Station, Toronto Islands
Toronto Dominion Centre, Design Exchange
Commerce Court, Victoria Hotel
Roselawn
Forest Hill North & West, Forest Hill Road Park
The Annex, North Midtown, Yorkville
University of Toronto, Harbord
Kensington Market, Chinatown, Grange Park
CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport
Stn A PO Boxes
First Canadian Place, Underground city
Christie
Dufferin, Dovercourt Village
Little Portugal, Trinity
Brockton, Parkdale Village, Exhibition Place
High Park, The Junction South
Parkdale, Roncesvalles
Runnymede, Swansea
Queen's Park, Ontario Provincial Government
Business reply mail Processing Centre, South Central Letter Processing Plant Toronto

In [26]:
ca_toronto_venues.head()

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,The Beaches,43.676357,-79.293031,Glen Manor Ravine,43.676821,-79.293942,Trail
1,The Beaches,43.676357,-79.293031,The Big Carrot Natural Food Market,43.678879,-79.297734,Health Food Store
2,The Beaches,43.676357,-79.293031,Grover Pub and Grub,43.679181,-79.297215,Pub
3,The Beaches,43.676357,-79.293031,Upper Beaches,43.680563,-79.292869,Neighborhood
4,"The Danforth West, Riverdale",43.679557,-79.352188,MenEssentials,43.677820,-79.351265,Cosmetics Shop

In [27]:
ca_toronto_venues.groupby('Neighborhood').count()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
Berczy Park,58,58,58,58,58,58
"Brockton, Parkdale Village, Exhibition Place",23,23,23,23,23,23
"Business reply mail Processing Centre, South Central Letter Processing Plant Toronto",18,18,18,18,18,18
"CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport",15,15,15,15,15,15
Central Bay Street,65,65,65,65,65,65
Christie,17,17,17,17,17,17
Church and Wellesley,78,78,78,78,78,78
"Commerce Court, Victoria Hotel",100,100,100,100,100,100
Davisville,33,33,33,33,33,33
Davisville North,7,7,7,7,7,7
"Dufferin, Dovercourt Village",16,16,16,16,16,16
"First Canadian Place, Underground city",100,100,100,100,100,100
"Forest Hill North & West, Forest Hill Road Park",4,4,4,4,4,4
"Garden District, Ryerson",100,100,100,100,100,100
"Harbourfront East, Union Station, Toronto Islands",100,100,100,100,100,100
"High Park, The Junction South",25,25,25,25,25,25
"India Bazaar, The Beaches West",19,19,19,19,19,19
"Kensington Market, Chinatown, Grange Park",68,68,68,68,68,68
Lawrence Park,3,3,3,3,3,3
"Little Portugal, Trinity",44,44,44,44,44,44
"Moore Park, Summerhill East",1,1,1,1,1,1
"North Toronto West, Lawrence Park",23,23,23,23,23,23
"Parkdale, Roncesvalles",14,14,14,14,14,14
"Queen's Park, Ontario Provincial Government",35,35,35,35,35,35
"Regent Park, Harbourfront",46,46,46,46,46,46
"Richmond, Adelaide, King",100,100,100,100,100,100
Rosedale,4,4,4,4,4,4
Roselawn,2,2,2,2,2,2
"Runnymede, Swansea",37,37,37,37,37,37
St. James Town,83,83,83,83,83,83
"St. James Town, Cabbagetown",42,42,42,42,42,42
Stn A PO Boxes,98,98,98,98,98,98
Studio District,41,41,41,41,41,41
"Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park",16,16,16,16,16,16
"The Annex, North Midtown, Yorkville",21,21,21,21,21,21
The Beaches,4,4,4,4,4,4
"The Danforth West, Riverdale",42,42,42,42,42,42
"Toronto Dominion Centre, Design Exchange",100,100,100,100,100,100
"University of Toronto, Harbord",35,35,35,35,35,35

In [31]:
ca_toronto_onehot = pd.get_dummies(ca_toronto_venues[['Venue Category']], prefix="", prefix_sep="")
ca_toronto_onehot.drop(['Neighborhood'],axis=1,inplace=True) 
ca_toronto_onehot.insert(loc=0, column='Neighborhood', value=ca_toronto_venues['Neighborhood'] )
ca_toronto_onehot.shape

(1637, 240)

In [32]:
ca_toronto_grouped = ca_toronto_onehot.groupby('Neighborhood').mean().reset_index()
ca_toronto_grouped.head()

,Neighborhood,Airport,Airport Food Court,Airport Gate,Airport Lounge,Airport Service,Airport Terminal,American Restaurant,Antique Shop,Aquarium,...,Theme Restaurant,Toy / Game Store,Trail,Train Station,Vegetarian / Vegan Restaurant,Video Game Store,Vietnamese Restaurant,Wine Bar,Women's Store,Yoga Studio
0,Berczy Park,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.017241,0.0,0.0,0.000000,0.0,0.000000
1,"Brockton, Parkdale Village, Exhibition Place",0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.043478
2,"Business reply mail Processing Centre, South C...",0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.055556
3,"CN Tower, King and Spadina, Railway Lands, Har...",0.066667,0.066667,0.066667,0.133333,0.2,0.133333,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000
4,Central Bay Street,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.015385,0.0,0.0,0.015385,0.0,0.015385

In [33]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    return row_categories_sorted.index.values[0:num_top_venues]

In [37]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = ca_toronto_grouped['Neighborhood']

for ind in np.arange(ca_toronto_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(ca_toronto_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Berczy Park,Coffee Shop,Café,Restaurant,Bakery,Beer Bar,Farmers Market,Seafood Restaurant,Cheese Shop,Cocktail Bar,Pub
1,"Brockton, Parkdale Village, Exhibition Place",Café,Breakfast Spot,Coffee Shop,Yoga Studio,Gym,Pet Store,Performing Arts Venue,Nightclub,Italian Restaurant,Intersection
2,"Business reply mail Processing Centre, South C...",Light Rail Station,Yoga Studio,Spa,Gym / Fitness Center,Garden Center,Garden,Fast Food Restaurant,Farmers Market,Comic Shop,Pizza Place
3,"CN Tower, King and Spadina, Railway Lands, Har...",Airport Service,Airport Lounge,Airport Terminal,Airport,Harbor / Marina,Rental Car Location,Sculpture Garden,Boutique,Boat or Ferry,Airport Gate
4,Central Bay Street,Coffee Shop,Sandwich Place,Italian Restaurant,Café,Bubble Tea Shop,Burger Joint,Japanese Restaurant,Salad Place,Ramen Restaurant,Portuguese Restaurant

In [38]:
from sklearn.cluster import KMeans

# set number of clusters
kclusters = 5

ca_toronto_grouped_clustering = ca_toronto_grouped.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(ca_toronto_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [49]:
#neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

toronto_merged = ca_toronto_data

# merge toronto_grouped with toronto_data to add latitude and longitude for each neighborhood
toronto_merged = toronto_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')
toronto_merged = toronto_merged.drop(columns=["PostalCode"])
toronto_merged.head()

,Borough,Neighborhood,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
37,East Toronto,The Beaches,43.676357,-79.293031,0,Health Food Store,Pub,Trail,Dog Run,Dessert Shop,Dim Sum Restaurant,Diner,Discount Store,Distribution Center,Yoga Studio
41,East Toronto,"The Danforth West, Riverdale",43.679557,-79.352188,0,Greek Restaurant,Coffee Shop,Italian Restaurant,Restaurant,Ice Cream Shop,Furniture / Home Store,Fruit & Vegetable Store,Pub,Pizza Place,Lounge
42,East Toronto,"India Bazaar, The Beaches West",43.668999,-79.315572,0,Sushi Restaurant,Pub,Sandwich Place,Light Rail Station,Board Shop,Liquor Store,Burrito Place,Italian Restaurant,Restaurant,Ice Cream Shop
43,East Toronto,Studio District,43.659526,-79.340923,0,Café,Coffee Shop,Gastropub,Bakery,Brewery,American Restaurant,Yoga Studio,Convenience Store,Sandwich Place,Cheese Shop
44,Central Toronto,Lawrence Park,43.728020,-79.388790,2,Park,Bus Line,Swim School,Department Store,Electronics Store,Eastern European Restaurant,Dumpling Restaurant,Donut Shop,Doner Restaurant,Dog Run

In [50]:
manhattan_merged.head()

,Borough,Neighborhood,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Manhattan,Marble Hill,40.876551,-73.910660,2,Coffee Shop,Discount Store,Yoga Studio,Steakhouse,Supplement Shop,Tennis Stadium,Shoe Store,Gym,Bank,Seafood Restaurant
1,Manhattan,Chinatown,40.715618,-73.994279,2,Chinese Restaurant,Cocktail Bar,Dim Sum Restaurant,American Restaurant,Vietnamese Restaurant,Salon / Barbershop,Noodle House,Bakery,Bubble Tea Shop,Ice Cream Shop
2,Manhattan,Washington Heights,40.851903,-73.936900,4,Café,Bakery,Mobile Phone Shop,Pizza Place,Sandwich Place,Park,Gym,Latin American Restaurant,Tapas Restaurant,Mexican Restaurant
3,Manhattan,Inwood,40.867684,-73.921210,3,Mexican Restaurant,Lounge,Pizza Place,Café,Wine Bar,Bakery,American Restaurant,Park,Frozen Yogurt Shop,Spanish Restaurant
4,Manhattan,Hamilton Heights,40.823604,-73.949688,0,Mexican Restaurant,Coffee Shop,Café,Deli / Bodega,Pizza Place,Liquor Store,Indian Restaurant,Sushi Restaurant,Sandwich Place,Yoga Studio

Compare the information from the two regions

In [56]:
! pip install datacompy

import datacompy, pandas as pd, sys

compare = datacompy.Compare(toronto_merged, manhattan_merged, join_columns=['1st Most Common Venue','2nd Most Common Venue','3rd Most Common Venue','4th Most Common Venue','5th Most Common Venue','6th Most Common Venue','7th Most Common Venue','8th Most Common Venue','9th Most Common Venue','10th Most Common Venue'])
print(compare.matches())
print(compare.report())

Requirement already satisfied: datacompy in d:\anaconda\lib\site-packages (0.7.1)
Requirement already satisfied: pandas!=0.23.*,>=0.19.0 in d:\anaconda\lib\site-packages (from datacompy) (1.0.5)
Requirement already satisfied: numpy>=1.11.3 in d:\anaconda\lib\site-packages (from datacompy) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in d:\anaconda\lib\site-packages (from pandas!=0.23.*,>=0.19.0->datacompy) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in d:\anaconda\lib\site-packages (from pandas!=0.23.*,>=0.19.0->datacompy) (2.8.1)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.6.1->pandas!=0.23.*,>=0.19.0->datacompy) (1.15.0)
False
DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0       df1       15    39
1       df2       15    40

Column Summary
--------------

Number of columns in common: 15
Number of columns in df1 but not in df2: 0
Number of columns in df2 but not in df1: 0

Row Summary
-----------

Matched on: 1st most common venue, 2nd most common venue, 3rd most common venue, 4th most common venue, 5th most common venue, 6th most common venue, 7th most common venue, 8th most common venue, 9th most common venue, 10th most common venue
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 0
Number of rows in df1 but not in df2: 39
Number of rows in df2 but not in df1: 40

Number of rows with some compared columns unequal: 0
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 0
Number of columns compared with all values equal: 15
Total number of values which compare unequal: 0

Columns with Unequal Values or Types
------------------------------------

           Column df1 dtype df2 dtype  # Unequal  Max Diff  # Null Diff
0  cluster labels     int32     int64          0       NaN            0

Sample Rows with Unequal Values
-------------------------------

Sample Rows Only in df1 (First 10 Columns)
------------------------------------------

             borough                                                       neighborhood   latitude  longitude  cluster labels 1st most common venue 2nd most common venue 3rd most common venue 4th most common venue        5th most common venue
28  Downtown Toronto                                                     Stn A PO Boxes  43.646435 -79.374846             0.0           Coffee Shop                   Pub                  Café              Beer Bar                   Restaurant
9    Central Toronto  Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park  43.686412 -79.400049             0.0           Coffee Shop                   Pub            Bagel Shop           Supermarket        Vietnamese Restaurant
10  Downtown Toronto                                                           Rosedale  43.679563 -79.377529             2.0                  Park                 Trail            Playground          Dance Studio  Eastern European Restaurant
31      West Toronto                                       Dufferin, Dovercourt Village  43.669005 -79.442259             0.0              Pharmacy                Bakery         Grocery Store    Athletics & Sports         Gym / Fitness Center
3       East Toronto                                                    Studio District  43.659526 -79.340923             0.0                  Café           Coffee Shop             Gastropub                Bakery                      Brewery
23   Central Toronto                    Forest Hill North & West, Forest Hill Road Park  43.696948 -79.411307             3.0         Jewelry Store                 Trail    Mexican Restaurant      Sushi Restaurant                  Yoga Studio
33      West Toronto                       Brockton, Parkdale Village, Exhibition Place  43.636847 -79.428191             0.0                  Café        Breakfast Spot           Coffee Shop           Yoga Studio                          Gym
13  Downtown Toronto                                          Regent Park, Harbourfront  43.654260 -79.360636             0.0           Coffee Shop                  Café                  Park                   Pub                       Bakery
4    Central Toronto                                                      Lawrence Park  43.728020 -79.388790             2.0                  Park              Bus Line           Swim School      Department Store            Electronics Store
5    Central Toronto                                                   Davisville North  43.712751 -79.390197             0.0                  Park      Department Store                 Hotel          Dance Studio            Food & Drink Shop

Sample Rows Only in df2 (First 10 Columns)
------------------------------------------

      borough       neighborhood   latitude  longitude  cluster labels 1st most common venue 2nd most common venue    3rd most common venue 4th most common venue      5th most common venue
63  Manhattan       West Village  40.734434 -74.006180             1.0    Italian Restaurant        Cosmetics Shop  New American Restaurant              Wine Bar                  Gastropub
75  Manhattan         Tudor City  40.746917 -73.971219             3.0                  Café                  Park              Pizza Place    Mexican Restaurant           Greek Restaurant
67  Manhattan  Battery Park City  40.711932 -74.016869             4.0           Coffee Shop                  Park                    Hotel             Wine Shop         Italian Restaurant
72  Manhattan      Midtown South  40.748510 -73.988713             4.0     Korean Restaurant           Coffee Shop           Cosmetics Shop             Hotel Bar        Japanese Restaurant
69  Manhattan      Carnegie Hill  40.782683 -73.953256             4.0           Pizza Place           Coffee Shop           Cosmetics Shop                  Café                Yoga Studio
78  Manhattan       Hudson Yards  40.756658 -74.000111             2.0           Coffee Shop    Italian Restaurant                    Hotel               Theater        American Restaurant
43  Manhattan   Hamilton Heights  40.823604 -73.949688             0.0    Mexican Restaurant           Coffee Shop                     Café         Deli / Bodega                Pizza Place
74  Manhattan         Turtle Bay  40.752042 -73.967708             3.0    Italian Restaurant           Coffee Shop               Steakhouse              Wine Bar           Sushi Restaurant
59  Manhattan    Lower East Side  40.717807 -73.980890             4.0    Chinese Restaurant           Coffee Shop                     Café                Bakery  Latin American Restaurant
48  Manhattan          Yorkville  40.775930 -73.947118             2.0           Coffee Shop                   Gym                      Bar    Italian Restaurant           Sushi Restaurant

Thank you for your valuable time and careful browsing. Thanks to Coursera Team and Peers.